doctype html
html(lang="en")
  head
    title= pageTitle
 
 
  body
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features
        
     h1 Sign Up for FUN!
     div
      button(onclick="signup()") Sign Up
     div
      button(onclick="signin()") Sign In
script.
  function signup() {
    window.location.href = '/signup'
  }
script.
  function signin() {
    window.location.href = '/signin'
  }
