body
	if !exist
		h1 You're not authorised to view next page
	h2 Please login or sign up!

	form(action="/signin", method="post")
		input(type="username",placeholder="username", name="username")
		input(type="password",placeholder="password", name="password")
		input(type="submit", value="SignIn")

	div
		button(onclick="signup()") Sign Up

	if exist
		h1 Seriously! How can you forget me.
		h2 Try login in! 
		

script.
	console.log(!{JSON.stringify(secret)})
script.
	function signup() {
		window.location.href = '/signup'
	}
