
html
	head
		title A Simple Node, Jade Driven Site!
		link(rel = 'stylesheet', href = '/stylesheets/style.css')
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		link(rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css")
		script(src="//code.jquery.com/jquery-1.10.2.js")
		script(src="//code.jquery.com/ui/1.11.3/jquery-ui.js")
		script(type='text/javascript').
				$(document).ready(function(){
					$(function() {
						 $( "#searchName" ).autocomplete({
								focus: function( event, ui ) {
										var x = $( "#searchName" ).val( ui.item.value);
										console.log(x['0'].value);
										return false;
								},
								select:function(event,ui){
										console.log(ui.item.value);
										window.location.href = '/twitter?name='+ui.item.value;
								},
								source:function(request, response){
									$.ajax({
									url : "/welcome",
									async: false,
									type: "POST",
									data : {value: request.term, todo : "searchName"},
									success : function(responseText) {
										response(responseText.data);
									}
								});
							}
						});
					}); 
				});
	if userType
		body
			header
				if userType === 'new'
					h1 Welcome Dude #{loginData.name}!
					h2 I am Ashok Regar. And this is my very first application made using node, jade, express framework.
					h2 Thankyou for Signing up!
				else
					h1 Welcome back fella #{loginData.name}!
					h2 I am Ashok Regar. And this is my very first application made using node, jade, express framework.
					h2 Thankyou for visiting again!
				div
					button(onclick="signout()") Sign Out

				div(style = "margin-top : 20px;")
					p search for your friend here!
					Input(type="text", id="searchName", placeholder="name", name = "name")
				
				div.dropdown
					ul.dropdown-menu(role="menu")
						
						li(role="presentation")
							a(href="#", role="menuitem", tabindex="-1") Regular link
						li.disabled(role="presentation")
							a(href="#", role="menuitem", tabindex="-1") Disabled link
				div.dropdown
					ul.dropdown-menu(role="menu")
						li.dropdown-header(role="presentation") Header
						li(role="presentation")
							a(href="#", role="menuitem", tabindex="-1") Regular link
						li.divider(role="presentation")                     
			footer
				p Running on node with Express, Jade and Stylus!
script.
	console.log(!{JSON.stringify(loginData)})
script.
	function signout() {
		window.location.href = '/'
	}
